@charset "utf-8";
/* CSS Document */

body, ul, li, ol, p{
	margin: 0px;
	padding: 0px;
	list-style-type:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

div, h1, h2, h3, h4{
	margin: 0px;
	padding: 0px;
	list-style-type:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}




a.redLinkBold:link, a.redLinkBold:visited   {
	font-size: 11px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: none;
}
a.redLinkBold:hover {
	font-size: 11px;
	font-weight: bold;
	color: #FF6600;
	text-decoration: underline;
}

#wrapper {
	width: 1280px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	
	background-position:top;
	background-repeat: no-repeat;
}

.wrapperInnerPage {
	width: 1280px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding:0px;
	
	background-position:top;
	background-repeat: no-repeat;
}
.footerlink_new:link, .footerlink_new:visited {
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
.footerlink_new:hover {
	color: #FF6600;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

.searchText {
	height: 18px;
	width: 175px;
	border: 1px solid #dbdbdb;
	color: #999999;
	font-weight: normal;
	padding-left: 10px;
}

.welcomeNote {
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
	font-weight: normal;
	line-height: 23px;
}
.Orange24pxBold {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: #ff6600;
}


.welcomeGreyFont {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight: bold;
	color: #333333;
}
.welcomeOrangeFont {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	font-weight: bold;
	color: #ff6500;
}
.Grey15pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #111111;
	font-style: italic;
}
.Black15pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	font-style: italic;
}
.Orange15pxBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #fe6601;
	font-style: italic;
}
.Orange26pxBold {
	font-family: "Times New Roman", Times, serif;
	font-size: 24px;
	font-weight: bold;
	color: #ff6600;
}
.whiteBold60px {
	font-family: "Times New Roman", Times, serif;
	font-size: 60px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 50px;
}
.whiteBold26px {
	font-family: "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: bold;
	color: #FFFFFF;
}
.Black26pxBold {
	font-family: "Times New Roman", Times, serif;
	font-size: 26px;
	font-weight: bold;
	color: #000000;
	line-height: 25px;
}
a.details20pxBold:link, a.details20pxBold:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.details20pxBold:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.Bold11pxfont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
}
a.bold11px:link, a.bold11px:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.bold11px:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.DropDownListBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #151515;
	padding: 1px;
	height: 22px;
	width: 180px;
	border: 1px solid #E85C00;
}

a.Link1:link, a.Link1:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #fff;
	text-decoration:underline;
	padding-left:7px;
}
a.Link1:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #000;
	text-decoration:none;
	padding-left:7px;
}
.Link1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}

a.LearnMore:link, a.LearnMore:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #FF6600;
	text-decoration:none;
	padding-left:7px;
}
a.LearnMore:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #000;
	text-decoration:none;
	padding-left:7px;
}

a.footer:link, a.footer:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ed5f00;
	text-decoration: none;
}
a.footer:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.footerDividerColor {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ed5f00;
	text-decoration: none;
}
a.privacyP:link, a.privacyP:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.privacyP:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
